
<link href="~/css/sidebar.css" rel="stylesheet" />
<div class="sidebar">
  <a class="active" href="#home">Dashboard</a>
  <a href="User/Index">Kullanıcılar</a>
  <a href="Role/Index">Roller</a>
  <a href="UserRole/Index">Kullancı Rolleri</a>
  <a href="UrlShort/Index">Kullancı Urlleri</a>
</div>

