@using Kendo.Mvc.UI;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@addTagHelper *, Kendo.Mvc
@{
    var CookieUserKey = HttpContextAccessor.HttpContext.Request.Cookies["UserKey"];
}
<link href="~/css/sidebar.css" rel="stylesheet" />
<div class="sidebar">
    <a href="/Home/Index"><i class="fa-solid fa-house mr-2"></i>Dashboard</a>
    <a href="/User/Index"><i class="fa-solid fa-users mr-2"></i>Kullanıcılar</a>
    <a href="/Role/Index"><i class="fa-solid fa-user-tag mr-2"></i>Roller</a>
    <a href="/UserRole/Index"><i class="fa-solid fa-user-check mr-2"></i>Kullancı Rolleri</a>
    <a href="/UrlShort/Index"><i class="fa-solid fa-list mr-2"></i>Kullancı Urlleri</a>
    <div class="user-area">
        <div class="row">
            <div class="col-12">
                <div class="user-image">
                    <img src="~/img/default-user.png" />
                </div>
            </div>
            <div class="col-12">
                <div class="user-name">                 
                    <div id="megaStore">
                        <kendo-menu orientation="MenuOrientation.Horizontal" name="Menu">
                            <items>
                                <menu-item text="@CookieUserKey">
                                    <sub-items>
                                        <menu-item text="Çıkış Yap" asp-action="LogOut" asp-controller="Login"></menu-item>
                                       
                                    </sub-items>
                                </menu-item>
                            </items>
                        </kendo-menu>

                        @*<div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @CookieUserKey
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" asp-action="Index" asp-controller="Login">Çıkış Yap</a>                                
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
