body {
    margin: 0;
    font-family: "Lato", sans-serif;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

    .sidebar a {
        display: block;
        color: black;
        padding: 16px;
        text-decoration: none;
    }

        .sidebar a.active {
            background-color: #776BCC;
            color: white;
        }

        .sidebar a:hover:not(.active) {
            background-color: #555;
            color: white;
        }

    .sidebar .user-area {
        position: absolute;
        bottom: 5%;
    }

        .sidebar .user-area .user-image {
            border-radius: 100%;
            margin: auto;
            width: 50px;
            height: 50px;
        }

            .sidebar .user-area .user-image img {
                width: 40px;
                height: 40px;
            }

        .sidebar .user-area .user-name {
            text-align: center;
        }

        .sidebar .user-area .profile-link {
            border: none;
            background-color: transparent;
        }


#menu h2 {
    font-size: 1em;
    text-transform: uppercase;
    padding: 5px 10px;
}

#template img {
    margin: 5px 20px 0 0;
    float: left;
}

#template {
    width: 380px;
}

    #template ol {
        float: left;
        margin: 0 0 0 30px;
        padding: 10px 10px 0 10px;
    }

    #template:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }

    #template .k-button {
        float: left;
        clear: left;
        margin: 5px 0 5px 12px;
    }

.k-menu:not(.k-context-menu) {
    background-color: transparent !important;
}

    .k-menu:not(.k-context-menu) > .k-item {
        width: 100%;
        align-items:center;
    }

div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}


@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

        .sidebar a {
            float: left;
        }

    div.content {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}
