td.actions a {
    text-decoration: none;
}

    td.actions a.detail {
        color: #333;
    }

    td.actions a.delete {
        color: #f00;
    }

    td.actions a.edit {
        color: #488ccc;
    }

    td.actions a i {
        font-size: 1.1rem;
    }
